body {background: #000000; color: #00ff00; font: 12pt monospace;}
textarea {border: solid 1px #00ff00; margin: 3px; padding: 3px; background: #000000; color: #00ff00; font: 12pt monospace;}
input {border: solid 1px #00ff00; margin: 3px; padding: 3px; background: #000000; color: #00ff00; font: 12pt monospace;}
button {border: solid 1px #00ff00; margin: 3px; padding: 3px; background: #000000; color: #00ff00; font: 12pt monospace;}
td {border: solid 1px #00ff00; margin: 3px; padding: 3px; font: 12pt monospace;}